# Dependencies
node_modules
**/node_modules
.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
.next

# Production
/build
/dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
*.pem

# Hardhat
/artifacts
/cache
/typechain-types

# Logs
/logs
*.log

# Contract artifacts
/deployments/**/solcInputs
/deployments/**/artifacts

# Typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# pnpm-debug
.pnpm-debug.log*

# firebase
.firebase/
functions/node_modules
functions/.runtimeconfig.json
functions/lib
functions/*.log

# Firebase Admin SDK private key
tokenfactory-f54de-firebase-adminsdk-fbsvc-8f180bea65.json
